<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title></title>
	
	<link rel="stylesheet" type="text/css">
</head>
<body><center>

	<div class="titulo">
		<h1>¿Como Soy?</h1>
	</div>
</center>
	<ul>
	<li>Alto, canche, ojos cafes, estudioso, vanidoso, chino, y mucho más xD</li>
	</ul>
	<IMG SRC="1.jpeg" WIDTH="100" HEIGHT="100">
        <IMG SRC="2.jpg" WIDTH="100" HEIGHT="100">
            <IMG SRC="3.jpg" WIDTH="100" HEIGHT="100">
                <IMG SRC="4.jpg" WIDTH="100" HEIGHT="100">
                    <IMG SRC="5.jpg" WIDTH="100" HEIGHT="100">
	
	</body></html>