<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title></title>
	
	<link rel="stylesheet" type="text/css" href="./eduardosureth.ing.gt_files/style.css">
</head>
<body><center>

	<div class="titulo">
		<h1>Mis Metas</h1>
	</div>
</center>
	<h4>Meta 1</h4>
	<ul>
	<li>Sacar mis estudios con exitos</li>
	</ul>
	<h4>Meta 2</h4>
	<ul>
	<li>Llegar a ser un gran profesional</li>
	</ul>	
	
	<h4>Meta 3</h4>
	<ul>
	<li>Conseguir ascensos</li>
	</ul>	
	<h4>Meta 4</h4>
	<ul>
	<li>Tener Una gran familia para compartir cada dia con ellos</li>
	</ul>	
	<h4>Meta 5</h4>
	<ul>
	<li>Ser Licenciado y apoyar a quienes lo necesiten</li>
	</ul>	
		
	
	</body></html>